*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar-area{
    background: #FCDB00;
}
.nav-item a{
    color: #010101;
    font-weight: bold;
    font-size: 18px;
    margin-left: 50px;
}
.hero-area{
    background: #FCDB00;

}
.hero_icon i{ 
    font-size: 50px;
    padding: 10px 30px 0px 0px;
    color: #010101;
}
.img_wrapper{
    width: 300px;
    margin: 0 auto;
}

.project_icon i{
    font-size: 50px;
    margin-top: 7px
}
.project-area{
    
    padding: 100px 0;
}
.footer-area{
    background: #010101;
}
.footer-area h2{
    color: #FCDB00;
}
.footer_form{
    width: 80%;
    margin: 0 auto;
}
.footer_button{
    background: #FCDB00;
    padding: 10px 25px
}
.footer_button:hover{
    background: #eccd00;
}
.footer_icon i{
    font-size: 25px;
    padding: 10px;
    background: #FCDB00;
    margin: 10px 15px;
    border-radius: 5PX;
    width: 45px;
    color: #010101;
}

.footer_menu{
    padding: 70px 0;
}
.footer_menu ul li{
    list-style: none;
    color: #fff;
    font-size: 18px;
}
.footer_menu ul li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
